.footer{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #781C1E;
    width: 100%;
    min-height: 18vh;
    max-height: 18vh;

    .contenidoFooter{
        .icon {
            width:25px;
            height:25px;
            margin: 7px; 
            position: relative;
            transition: 0.5s;
            &:hover {
                opacity: 0.3;
                height: 30px;
                width: 30px;
            }
        }

    }

    .redes{
        .redesTexto{
            font-size: 1.5em;
            font-family: Arial, Helvetica, sans-serif;
            color: aliceblue;
        }


    }

 
}

.footerForm {
    background-color: #3E0303;
}