.main {
    background-image: url(img/fondoPizza.png);
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    .contenido {
        .p1 {
            color: #DCDCDC;
            font-size: 3em;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: 200;
            text-align: center;
        }

        .p2 {
            color: #DCDCDC;
            font-size: 3em;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: 100;
            text-align: center;

            .imgMain{
                height: 2em;
                width: 2em;
                transition: 0.5s;
                &:hover {
                    height: 2.3em;
                    width: 2.3em;
                }
            }
        }

    }

}
