* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,400;1,500;1,600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: 1fr 7fr 1fr;
    height: 150vh;
    position: relative;
    

}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}



/* v media querie v */

@media only screen and (max-width:1000px) {
    .nav .paginas li {

        font-size: 1.2em;
        padding-left: 0.5em;
        padding-right: 0.5em;

    }
}

@media only screen and (max-width:900px) {
    .nav .paginas li {

        font-size: 1.1em;
    }
}


@media only screen and (max-width:719px) {
    
    .nav .paginas {
        position: absolute;
        width: 60%;
        height: 70vh;
        display: grid;
        align-items: center;
        background-color: #781C1E;
        margin-top: 40em;
        z-index: 1;
        transform: translateY(-190%);
        transition: all 0.5s;
        
    }

    .navForm .paginas {
        background-color: #3E0303;
    }

    .nav .paginasMover {
        transform: translateY(0%);
    }

    .nav .paginas li {
        font-size: 2em;
        text-align: center;

    }

    .nav .menu {
        display: block;
        font-size: 2em;
        cursor: pointer;
        justify-self: center;
    }

    .nav .logo {
        grid-column: 5/6;
    }

    .footer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenidoFooter .icon {

        width: 30px;
        height: 30px;        
        position: relative;
    }
    
    .redes .redesTexto{
        display: none;
    }


    .mainSucursal p {
        width: 80%;
        padding-top: 18px;
    }

    .mainSucursal p a {
        font-size: 1.4em;
    }

    .mainSucursal p:hover {
        
        height: 80px;
        width: 80%;
    }
}
